/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

 .left-admin {
     float: left;
     width: 29%;
     min-width: 350px;
 }

 .right-admin {
     float: right;
     max-width: 65%;
     min-width: 50%;
 }

.label {
    font-weight: 600;
    width: 175px;
    text-align: justify;
}

.input, .label {
    display: inline-table;
    vertical-align: middle;
}

h1 {
    font-size: 1.8rem;
    line-height: 1.9rem;
}

h2 {
    font-size: 1.6rem;
    line-height: 1.7rem;
}

h3 {
    font-weight: 800px;
    font-size: 1.2rem;
    line-height: 1.3rem;
}

@media screen and (max-width: 1307px) {
    .left-admin {
        float: none;
        width: 100%;
    }

    .right-admin {
        float: none;
        width: 100%;
    }
}

h2 form, h2 form form {
  display: inline-block;
}
